body {
	background: repeat url(../images/tweed.png);
}
#alignments, input[type="text"] {
	font-family: Courier;
}

#sequence_form,
#results {
	background: repeat url(../images/crossword.png);
	box-shadow: 0 10px 20px #222;
	border-radius: 4px;
	margin: 10px 10px 30px;
	padding: 40px;
}

h1, h2 {
    /*color: #333;*/
    /*text-shadow: 1px 2px 6px #eee, 0 0 0 #000, 1px 4px 6px #eee;*/
}